<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Find My Roomie | About Page</title>
</head>
<body>

	<section>
		
    <div class="row d-flex">
        <div class="col-md-6 p-5">
            <div class="row">
                <div class="col-md-6">
                    <img class="rounded-lg m-2"
                        src="https://www.stanzaliving.com/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fstanza-living%2Fimage%2Fupload%2Fw_800%2Fv1653991914%2FWebsite%2520v5%2FAbout_Us%2Fabout-us-image1.jpg&w=1920&q=75"
                        style="height: 27rem;" alt="">
                </div>

            </div>
        </div>
        <div class="col-md-5 my-auto px-3 ">
            <h1>We didn't find it for us,
                so we created it for you</h1>
            <p>That's essentially our story in one sentence.
                Crammed up hostels or cooped up PGs - not much of a choice, is it? Thats why we created Stanza Living -
                a place designed by people who've been in your shoes. Understand you. And are inspired by you.</p>
        </div>

    </div>
    <hr />

    <div class="row d-flex">
        <div class="col-md-5 my-auto px-3 " style="text-align: right;">
            <h1>You needed a place like home,
                so we moved back home</h1>
            <p>It was 2015. Two erstwhile IIM-A hostel roomies, Anindya and Sandeep, met again. Reminiscing about the
                'good old hostel days', they realised a lot of that 'good' could've been better. So to give youngsters
                that 'better', in 2017, they set up a base in New Delhi, and the rest, as we say, is the present.</p>
        </div>

        <div class="col-md-6 p-5">
            <div class="row">
                <div class="col-md-6">
                    <img class="rounded-lg m-2"
                        src="https://www.stanzaliving.com/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fstanza-living%2Fimage%2Fupload%2Fw_800%2Fv1653991919%2FWebsite%2520v5%2FAbout_Us%2Fabout-us-image2.jpg&w=1920&q=75"
                        style="height: 27rem;" alt="">
                </div>
            </div>
        </div>


    </div>
    <hr />

	</section>



</body>
</html>