<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Admin Page</title>
</head>

<body>
	<section>

		<div class="wrapper d-flex">
			<div class="sidebar">
				<small class="text-muted pl-3">ADMIN PAGE</small>

				<small class="text-muted px-3">USER DETAILS</small>
				<ul>
					<li><a href="/api/view-all-users"><i class="far fa-calendar-alt"></i>View All User</a></li>
					<!-- <li><a href="#"><i class="fas fa-video"></i>View User</a></li> -->
					<!-- <li><a href="#"><i class="fas fa-id-badge"></i>Delete User</a></li> -->
				</ul>
				<small class="text-muted px-3">ROOM DETAILS</small>
				<ul>
					<li><a href="/api/view-all-rooms"><i class="fas fa-external-link-alt"></i>View All Rooms</a></li>
					<!-- <li><a href="#"><i class="fas fa-code"></i>View Room</a></li> -->
					<!-- <li><a href="#"><i class="fas fa-code"></i>Add Room</a></li> -->
					<!-- <li><a href="#"><i class="fas fa-code"></i>Delete Room</a></li> -->
				</ul>
			</div>
		</div>

	


		<div>
			<h1>User</h1>
			<div id="content">

			</div>
		</div>

		<script th:inline="javascript">
		/*<![CDATA[*/

			var userId = /*[[${userId}]]*/ '';
			console.log(userId)

			/*]]>*/
			var content = document.getElementById("content")

			function del() {
				fetch(`/api/users/${userId}`, { method: 'DELETE' })
					.then(() => history.back());

			}

			function modifyContent(user) {
				console.log(user)
				s = "";

				console.log(user)
				s += `<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">${user.username}</h5>
    <p class="card-text">Firstname: ${user.fname}</p>
        <p class="card-text">LastName: ${user.fname}</p>
            <p class="card-text">Occupancy: ${user.occupancy}</p>
               <p class="card-text">Dob: ${user.dob}</p> 
    
    <button onclick="del()" class="btn btn-primary">Delete User</button>
  </div>
</div>`

				content.innerHTML = s
			}

			fetch(`/api/users/${userId}`)
				.then((response) => response.json())
				.then((data) => modifyContent(data));
		</script>

	</section>
</body>

</html>